.men-main-yangiliklar-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  list-style: none;
  padding: 0;
}

body {
  margin: 0px;
  overflow-x: hidden;
  padding: 15px;
}

.men-main-yangiliklar-li img {
  width: 630;
  height: 450;
}

.container {
  display: flex;
 
  gap: 10px;
}

.clas-main {
  text-decoration: none;
}

.men-nav-li {
  list-style: none;
}

.men-nav-ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.men-nav-ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

header {
  background-color: aqua;
}

.men-nav-li {
  position: relative;
  bottom: 30px;
  text-transform: uppercase;
}

.rasm-header {
  position: relative;
  top: 20px;
}

.men-main-yangiliklar-h2 {
  position: relative;
  text-transform: capitalize;
  color: #202;
  left: 250px;
}

.men-main-yangiliklar-h3 {
  position: relative;
  text-transform: capitalize;
  left: 5px;
}

.men-main-yangiliklar-p {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;

  
}

.men-main-diqqatga-sazovor-joylar-h4 {
  position: relative;
  color: #202;
  left: 200px;
}

.men-main-diqqatga-sazovor-joylar-h3 {
  position: relative;
  text-transform: capitalize;
  left: 5px;
}

.men-main-diqqatga-sazovor-joylar-p {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}

.men-main-tungi-shahar-h4 {
  position: relative;
  color: #202;
  left: 250px;
  text-transform: capitalize;
}

.men-main-tungi-shahar-h3 {
  position: relative;
  text-transform: capitalize;
  left: 5px;
}

.men-main-tungi-shahar-p {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px; 
}

.men-main-university-h4 {
  position: relative;
  color: #202;
  left: 250px;
  text-transform: capitalize;
}

.ununversity {
   position: relative;
  text-transform: capitalize;
  left: 5px;
}

.loremclass {
   border: 1px solid black;
  padding: 10px;
  border-radius: 20px; 
}

.men-main-diqqatga-sazovor-joylar-a {
  position: relative;
  text-decoration: none;
  left: 300px;
  color: #202;
  text-transform: uppercase;
}

.men-reklama {
  position: absolute;
  color:#202;
  left: 700px;
  text-transform: uppercase;
}

.men-davlatlar-h1 {
  position: relative;
  color: #202;
  left: 400px ;
}

.men-davlatlar-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  list-style: none;
  padding: 0;
}

.men-davlatlar-a {
  position: relative;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  left: 100px;
  color: #202;
}

.men-footer-li {
  text-decoration: none;
  width: 100px;
  height: 100px;
  list-style: none;
}

.men-footer-ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  
  
}

.mana {
  position: absolute;
  left: 900px;
}

.mana1 {
  position: absolute;
  left: 1000px;
}

.mana2 {
  position: absolute;
  left: 1200px;
}

.mana3 {
  position: absolute;
  left: 1100px;
}

.img1 {
  position: relative;
  top: 80px;
}

.men-main-a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: #202;
  border: 2px;
  left: 650px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px; 
  background-color: darkblue;
  color: aliceblue;

}

.obuna {
  position: relative;
  left: 700px;
  background-color: rgb(2, 20, 36);
  color: aliceblue;
  text-transform: uppercase;

}

