.yangiliklar-div {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.img-yangiliklar {
    position: relative;
    left: 270px;
}

.yangiliklar-h3 {
    position: relative;
    text-transform: capitalize;
    color: darkgreen;
    left: 350px;
}

.yangiliklar-a {
    list-style: none;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    left: 700px;
}

.yangiliklar-div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}



